.resizer{
    filter: alpha(opacity=10);
    opacity: 0.1;
    z-index:111;
    position:absolute;
    border:4px solid #111;
    background-color:#fff;
}
.resizerPoint{
    z-index:112;
    position:absolute;
    border:none;
    background-color:#000;
    width:8px;
    height:8px;
}

